<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Drug Monitoring System for Patient with Common Cold</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet"/>

    <!-- Custom fonts for this template -->
    <link href="{{ url_for('static', filename='../vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="{{ url_for('static', filename='vendor/magnific-popup/magnific-popup.css') }}" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/creative.min.css') }}" rel="stylesheet" />

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <a class="navbar-brand" href="#" style="font-size: 15px">Drug Monitoring System for Patient <br /> with Common Cold</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">หน้าแรก/วิเคราะห์</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">ติดต่อ</a>
          </li>
        </ul>
      </div>
    </nav>

    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <!--<h2 class="section-heading text-white">We've got what you need!</h2>-->
            <!--<hr class="light">-->
            <!--<p class="text-faded">Artificial intelligence (AI) systems, blending data and advanced algorithms to mimic the cognitive functions of the human mind, have begun to simplify and enhance even the simplest aspects of our everyday experiences — and the automotive industry is no exception.</p><br/>-->
			<!--<p class="text-faded">Vehicle telematics devices track variables such as speed patterns, location, hard braking, environment and weather. Auto-insurance companies can classify drivers into various risk groups can be done by more accurately by leveraging machine learning with this data. The technology allows for a classification process that is automated and error-proof. Besides risk group classification, Deep Learning algorithms can be applied to images of vehicle damage, allowing for automated claim classification.</p>-->
			<!--<br/>-->
			<div class="contr">
        <br /><br />
               <h2 class="section-heading text-white">ข้อมูลการใช้ยาสำหรับผู้ป่วยโรคไข้หวัดธรรมดา</h2>
               <br />
              <!--<label>{{text}}</label>-->
              
              <br /><br />
              
              <div class="row">
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Bromhexine[hydrochloride] 8 mg</h5>
                      <img class="card-img-top" src="static/img/Bromhexine.jpg" alt="Card image cap">
                      <p class="card-text">
                        <p align ='left'>- ใช้เป็นยาละลายเสมหะบรรเทาอาการไอจากโรคหวัด</p>
                        <p align ='left'>- ในผู้ใหญ่และเด็กที่อายุเกิน 12 ปีขึ้นไป ให้รับประทานครั้งละ 1 เม็ด (8 มิลลิกรัม) วันละ 3 ครั้ง </p>
                        <p align ='left'>- การใช้ยานี้ในเด็กอายุต่ำกว่า 6 ปี หญิงตั้งครรภ์ หญิงให้นมบุตร และในผู้สูงอายุ ควรอยู่ภายใต้คำแนะนำของแพทย์</p>
                      </p>
                      
                    </div>
                  </div>
                </div>
              <br /><br />

                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Chlorpheniramine maleate 4 mg</h5>
                      <img class="card-img-top" src="static/img/Chlorpheniramine.jpg" alt="Card image cap">
                      <p class="card-text">
                      <p align ='left'>- ใช้บรรเทาอาการจาม,น้ำมูกไหล,คัดจมูก,ตาแดง,คันที่ตาและน้ำตาไหล,คันจมูกและคอ</p>
                      <p align ='left'>- ใช้สำหรับผู้ใหญ่และเด็กอายุ 13 ปีขึ้นไป ให้รับประทานยาครั้งละ 1 เม็ด* วันละ 2-4 ครั้ง หรือทุก 4-6 ชั่วโมง</p>
                      <p align ='left'>- การใช้ยานี้ในเด็กอายุต่ำกว่า 6 ปี หญิงตั้งครรภ์ หญิงให้นมบุตร และในผู้สูงอายุ ควรอยู่ภายใต้คำแนะนำของแพทย์</p>
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <br /><br />
              <div class="row">
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Hydroxyzine-fc 10 mg</h5>
                      <img class="card-img-top" src="static/img/Hydroxyzine.jpg"width="300px" height="300px" alt="Card image cap">
                      <p class="card-text">
                         <p align ='left'>- รักษาอาการจากการแพ้</p>
                         <p align ='left'>- ใช้สำหรับผู้ใหญ่และเด็กอายุ 13 ปีขึ้นไป ให้รับประทานยาครั้งละ 1 เม็ด* วันละ 1 ครั้ง </p>
                         <p align ='left'>- อาจใช้เพื่อรักษาโรคหรืออาการอื่นๆได้ หากมีข้อสงสัยควรสอบถามแพทย์หรือเภสัชกร
                         ยานี้มักทำให้เกิดอาการง่วงนอน มึนงง เวียนศีรษะ ตาพร่า ผู้ที่ขับขี่ยานพาหนะ ขับรถ ขับเรือ </p>
                        <p align ='left'>- หรือทำงานเกี่ยวกับเครื่องจักรหรือของมีคม ควรระมัดระวังในการใช้ยานี้ให้มาก ถ้าหากมีอาการง่วงนอน 
                         ให้หยุดทำงานเหล่านี้ทันทีจนกว่าฤทธิ์ยาจะหมดไป</p>

                       
                      
                    </div>
                  </div>
                </div>
              <br /><br />
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Paracetamol 500 mg</h5>
                      <img class="card-img-top" src="static/img/Paracetamol.png"width="300px" height="300px" alt="Card image cap">
                      <p class="card-text">
                        <p align ='left'>- ใช้เป็นยาแก้อาการปวดทุกชนิดในระดับเล็กน้อยถึงปานกลาง </p>
                        <p align ='left'>- ใช้สำหรับผู้ใหญ่และเด็กอายุ 12 ปีขึ้นไปถ้าผู้ใช้มีน้ำหนักตัว 34-50 กิโลกรัม ให้รับประทานยาครั้งละ 1 เม็ด,
                         น้ำหนักตัว 51-67 กิโลกรัม ให้รับประทานยาครั้งละ 1 ½ เม็ด และถ้ามีน้ำหนักตัว 68 กิโลกรัมขึ้นไป 
                         ให้รับประทานยาครั้งละ 2 เม็ด</p>
                         <p align ='left'>- การใช้ยานี้ในเด็กอายุต่ำกว่า 6 ปี หญิงตั้งครรภ์ หญิงให้นมบุตร และในผู้สูงอายุ ควรอยู่ภายใต้คำแนะนำของแพทย์</p>
                     
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
			<br/><br/>
          </div>
        </div>
      </div>
    </section>



     <section id="contact">
       <div class="container">
         <div class="row">
           <div class="col-lg-8 mx-auto text-center">
             <h2 class="section-heading">ข้อมูลผู้พัฒนา</h2>
             <hr class="primary">
             <p>นายสุวิจักขณ์ เอี่ยมพร้อม 60315593 </p>
             <p>วิทยาการคอมพิวเตอร์ คณะวิทยาศาสตร์ มหาวิทยาลัยนเรศวร</p>
             <p>จังหวัดพิษณุโลก ประเทศไทย </p>
           </div>
         </div>
         <div class="row">
           <div class="col-lg-4 ml-auto text-center">
             <i class="fa fa-phone fa-3x sr-contact"></i>
             <p>0854028172</p>
           </div>
           <div class="col-lg-4 mr-auto text-center">
             <i class="fa fa-envelope-o fa-3x sr-contact"></i>
             <p>
               <a href="suwijka60@nu.ac.th">suwijka60@nu.ac.th</a>
             </p>
           </div>
         </div><br />
         <center>
           <p>
             Copy right 2020 @SUWIJAK
           </p>
         </center>

       </div>
       </section>
    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/popper/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/scrollreveal/scrollreveal.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/magnific-popup/jquery.magnific-popup.min.js') }}"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ url_for('static', filename='js/creative.min.js') }}"></script>
	<script>
			$(document).on('click', '.browse', function(){
		  var file = $(this).parent().parent().parent().find('.file');
		  file.trigger('click');
		});
		$(document).on('change', '.file', function(){
		  $(this).parent().find('.form-control').val($(this).val().replace(/C:\\fakepath\\/i, ''));
		});
	</script>

  </body>

</html>
